<h2>Muhammad Itqan Abdullah</h2> 
<h2>CS10B 339606 AI Lab 5</h2>
<h2>Naive Bayes</h2>

In [1]:
import pandas as pd 
data = {
  "department": ['sales','sales','sales','systems','systems','systems','systems','marketing','marketing','secretary','secretary'],
  "status": ['senior','junior','junior','junior','senior','junior','senior','senior','junior','senior','junior'],
    "age": ['31-35','26-30','31-35','21-25','31-35','26-30','41-45','36-40','31-35','46-50','26-30'],
    "salary": ['46k-50k','26k-30k','31k-35k','46k-50k','66k-70k','46k-50k','66k-70k','46k-50k','41k-45k','36k-40k','26k-30k']
}

In [2]:
df = pd.DataFrame(data)

In [3]:
df

   department  status    age   salary
0       sales  senior  31-35  46k-50k
1       sales  junior  26-30  26k-30k
2       sales  junior  31-35  31k-35k
3     systems  junior  21-25  46k-50k
4     systems  senior  31-35  66k-70k
5     systems  junior  26-30  46k-50k
6     systems  senior  41-45  66k-70k
7   marketing  senior  36-40  46k-50k
8   marketing  junior  31-35  41k-45k
9   secretary  senior  46-50  36k-40k
10  secretary  junior  26-30  26k-30k

In [4]:
#dicts containing all likelihoods for senior and junior
senior_probs = {}
junior_probs = {}

In [6]:
import numpy as np

In [7]:
salaries = df['salary'].unique()

In [8]:
df[df['status'] == 'senior']

  department  status    age   salary
0      sales  senior  31-35  46k-50k
4    systems  senior  31-35  66k-70k
6    systems  senior  41-45  66k-70k
7  marketing  senior  36-40  46k-50k
9  secretary  senior  46-50  36k-40k

In [9]:
juniors_df = df[df['status'] == 'junior']

In [10]:
seniors_df = df[df['status'] == 'senior']

In [11]:
total_seniors =  np.shape(seniors_df)[0] * np.shape(seniors_df)[1] - len(df[df['status'] == 'senior'])

In [12]:
total_juniors =  np.shape(juniors_df)[0] * np.shape(juniors_df)[1] - len(df[df['status'] == 'junior'])

In [13]:
total_seniors

15

In [14]:
for salary in salaries:
    senior_probs[salary] = (len(seniors_df[seniors_df['salary'] == salary]) + 1)/total_seniors

In [15]:
senior_probs

{'46k-50k': 0.2,
 '26k-30k': 0.06666666666666667,
 '31k-35k': 0.06666666666666667,
 '66k-70k': 0.2,
 '41k-45k': 0.06666666666666667,
 '36k-40k': 0.13333333333333333}

In [16]:
for salary in salaries:
    junior_probs[salary] = (len(juniors_df[juniors_df['salary'] == salary])+ 1)/total_juniors

In [17]:
junior_probs

{'46k-50k': 0.16666666666666666,
 '26k-30k': 0.16666666666666666,
 '31k-35k': 0.1111111111111111,
 '66k-70k': 0.05555555555555555,
 '41k-45k': 0.1111111111111111,
 '36k-40k': 0.05555555555555555}

In [18]:
ages = df['age'].unique()

In [19]:
for age in ages:
    senior_probs[age] = (len(seniors_df[seniors_df['age'] == age]) + 1)/total_seniors

In [20]:
senior_probs

{'46k-50k': 0.2,
 '26k-30k': 0.06666666666666667,
 '31k-35k': 0.06666666666666667,
 '66k-70k': 0.2,
 '41k-45k': 0.06666666666666667,
 '36k-40k': 0.13333333333333333,
 '31-35': 0.2,
 '26-30': 0.06666666666666667,
 '21-25': 0.06666666666666667,
 '41-45': 0.13333333333333333,
 '36-40': 0.13333333333333333,
 '46-50': 0.13333333333333333}

In [21]:
for age in ages:
    junior_probs[age] = (len(juniors_df[juniors_df['age'] == age]) + 1)/total_juniors

In [22]:
junior_probs

{'46k-50k': 0.16666666666666666,
 '26k-30k': 0.16666666666666666,
 '31k-35k': 0.1111111111111111,
 '66k-70k': 0.05555555555555555,
 '41k-45k': 0.1111111111111111,
 '36k-40k': 0.05555555555555555,
 '31-35': 0.16666666666666666,
 '26-30': 0.2222222222222222,
 '21-25': 0.1111111111111111,
 '41-45': 0.05555555555555555,
 '36-40': 0.05555555555555555,
 '46-50': 0.05555555555555555}

In [23]:
depts = df['department'].unique()

In [24]:
for dept in depts:
    junior_probs[dept] = (len(juniors_df[juniors_df['department'] == dept]) + 1)/total_juniors

In [25]:
junior_probs

{'46k-50k': 0.16666666666666666,
 '26k-30k': 0.16666666666666666,
 '31k-35k': 0.1111111111111111,
 '66k-70k': 0.05555555555555555,
 '41k-45k': 0.1111111111111111,
 '36k-40k': 0.05555555555555555,
 '31-35': 0.16666666666666666,
 '26-30': 0.2222222222222222,
 '21-25': 0.1111111111111111,
 '41-45': 0.05555555555555555,
 '36-40': 0.05555555555555555,
 '46-50': 0.05555555555555555,
 'sales': 0.16666666666666666,
 'systems': 0.16666666666666666,
 'marketing': 0.1111111111111111,
 'secretary': 0.1111111111111111}

In [26]:
for dept in depts:
    senior_probs[dept] = (len(seniors_df[seniors_df['department'] == dept]) + 1)/total_seniors

In [27]:
senior_probs

{'46k-50k': 0.2,
 '26k-30k': 0.06666666666666667,
 '31k-35k': 0.06666666666666667,
 '66k-70k': 0.2,
 '41k-45k': 0.06666666666666667,
 '36k-40k': 0.13333333333333333,
 '31-35': 0.2,
 '26-30': 0.06666666666666667,
 '21-25': 0.06666666666666667,
 '41-45': 0.13333333333333333,
 '36-40': 0.13333333333333333,
 '46-50': 0.13333333333333333,
 'sales': 0.13333333333333333,
 'systems': 0.2,
 'marketing': 0.13333333333333333,
 'secretary': 0.13333333333333333}

In [28]:
prob_of_senior = len(df[df['status' ] == 'senior'])/len(df)

In [29]:
prob_of_senior

0.45454545454545453

In [30]:
prob_of_junior = 1 - prob_of_senior

In [45]:
prob_of_junior

0.5454545454545454

<h3> Inference function </h3>

In [31]:

def inference(features):
    p_sen = prob_of_senior*senior_probs[features[0]]*senior_probs[features[1]]*senior_probs[features[2]]
    
    p_jun = prob_of_junior*junior_probs[features[0]]*junior_probs[features[1]]*junior_probs[features[2]]
    print("senior score: ",p_sen)
    print("junior score: ",p_jun)
    if(p_sen >= p_jun):
        print("More likely to be a senior")
    else:
        print("More likely to be a junior")

In [32]:
feature1 = ["marketing", "31-35", "46k-50k"]
inference(feature1)

senior score:  0.0024242424242424242
junior score:  0.0016835016835016832
More likely to be a senior

In [33]:
feature2 = ["sales", "31-35", "66k-70k"]
inference(feature2)

senior score:  0.0024242424242424242
junior score:  0.0008417508417508415
More likely to be a senior